
.filmesHoje {
  color: darkred;
}

.filmesAmanha {
  color: darkblue;
}

.links {
  text-decoration: none;
}

h2 {
  color: seagreen;
}

p {
  font-size: 20px;
}

h1, h2, p , .links {
  font-family: Arial, Helvetica, sans-serif;
}