body {
  font-family: 'Montserrat', sans-serif;
}

header {
  background: #CCCCCC;
  padding: 20px;
  
}

.caixa {
  position: relative;
  width: 940px;
  margin: 0 auto; /*Alinha div ao centro*/
}

nav {
  position: absolute;
  top: 110px;
  right: 0;
}

nav li {
  display: inline;
  margin-left: 15px;
  
}

nav a {
  text-transform: uppercase; /*Texto em caixa alta*/
  text-decoration: none; /*Tira sublinhado*/
  color: #000000;
  font-weight: bold;
  font-size: 24px;
}

/* dois pontos significa comportamento, ou seja, o link a em navegação tem o comportamento hover (quando a pessoa usuária posiciona o mouse sobre ele)*/
nav a:hover {
  color: orange;
  text-decoration: underline;
  
}

.servicos li:hover {
  border-color: orange;
  transform: scale(1.1);
  transition: 1s all;
}

.servicos li:active {
  border-color: #088c19;
}

.lista {
  font-size: 14px;
  
}

.logo {
  width: 20%;

}

.cabelo, .barba, .barbaecabelo {
  border-radius: 15px;
  width: 238px;
  height: 357px;
}

.servicos {
  width: 940px;
  margin: 0 auto; /*Espaçamento externo*/
  padding: 50px 0; /*Espaçamento interno pra evitar que o conteúdo(content) fique colado -- 50px para cima e para baixo e 0 para os lados*/
  
  
}


.servicos li {
  display: inline-block; /*Coloca um ao lado do outro*/
  text-align: center;
  width: 30%; /*Largura*/
  vertical-align: top; /*Orientar(alinhar) pela linha de cima*/
  margin: 0 1.5%; /*Espaçamento externo*/
  padding: 30px 20px; /*Espaçamento interno pra evitar que o conteúdo(content) fique colado -- 30px para cima e para baixo e 20px para os lados*/
  box-sizing: border-box; 
  border: 2px solid #000000;
  border-radius: 15px;
  width: 282px;
  height: 590px
  
}

.servicos h2 {
  
  font-size: 30px; /*Tamanho fonte*/
  font-weight: bold; /*Peso da fonte em negrito*/
  margin: 0 0 1em;
}

.servicos-descricao {
  font-size: 18px;
  margin-top: 10px;
  
}

.servicos-preco {
  font-size: 22px;
  font-weight: bold;
  margin: 10px 0 0; /*mesma coisa que margin-top: 10px*/
}

footer {
  text-align: center;
  background: url("../img/bg.jpg");
  padding: 40px 0;
  margin-top: 50px;
}

.logo-branco {
  margin-left: 50px;
  position: relative;
  width: 100px;
  margin: auto;
}

.copyright {
  color: #fff;
  font-size: 13px;
  margin: 10px;
  text-align: center;
}

main {
  width: 940px;
  margin: 0 auto;
  
}

form {
  margin: 40px 0;
  
}

form label, form legend {
  display: block;
  font-size: 20px;
  margin: 0 0 10px; /*margin para baixo*/
}

#mensagem {
  border: 2px solid;
}

.input-padrao {
  display: block;
  margin: 0 0 20px;
  padding: 10px 25px;
  width: 50%;
  border-radius: 10px;
  border-color: #000000;
}

.checkbox {
  margin: 20px 0px;
}

.enviar {
  background-color: orange;
  color: black;
  border-radius: 15px;
  padding: 15px 0;
  width: 40%;
  font-size: 18px;
  transition: 1s all;
  cursor: pointer;
}

.enviar:hover {
  background: darkorange;
  transform: scale(1.1);
}

table {
  width: 40%;
  margin: 20px 0px 40px;
  
}

thead {
  background: orange;
  color: black;
}

td , th{
  border: 1px solid #000000;
  padding: 8px 15px;
  border: 2px solid;
}

select {
  border-radius: 5px;
  border: 1px solid #000000;

}

/* Css da pag inicial ============ */
.banner {
  width: 100%;
}

.titulo-principal {
  text-align: center;
  font-size: 2em; /*em significa medida proporcional, como se fosse multiplicacao*/
  padding-top: 3em;
  padding-bottom: 1em;
  clear: left; /*limpa o float*/
}

.principal p {
  margin: 0 0 1em;
}

/*toda vez que aparecer a tag strong em principal, ficar em negrito*/
.principal strong {
  font-weight: bold;
}

/*toda vez que aparecer a tag em , estilo da fonte em itálico*/
.principal em {
  font-style: italic;
}

.pole {
  width: 130px;
  height: 90px;
  display: inline-block;
  float: left;
  margin: 0 20px 20px 0; /*cima, direita, baixo, esquerda*/
}

.mapa {
  padding: 3em 0;
}

.mapa p {
  margin: 0 0 2em;
  text-align: center;
}

.beneficios {
  padding: 3em 0;
}
.conteudo-beneficios {
  width: 640px;
  margin: 0 auto;
  
}

.lista-beneficios {
  width: 40%;
  display: inline-block;
  vertical-align: top;
}

.imagem-beneficios {
  width: 60%;
  display: inline-block;
}




.video {
  text-align: center;
  width: 560px;
  margin: 2em auto;
  
}

/*body {
  background-image: linear-gradient(grey, black);
}*/

